@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* CSS HSL */
  /* https://coolors.co/ */

 /* --primaria: hsla(210, 67%, 43%, 1);
  --background: hsla(108, 22%, 87%, 1);
  --secundaria: hsla(34, 100%, 50%, 1);
  --destaque: hsla(355, 78%, 56%, 1);
  --detalhe: hsla(9, 63%, 45%, 1);*/


  --primaria: rgb(0, 37, 85);
  --background: rgba(217, 217, 217);
  --secundaria: rgb(0, 37, 85);
  --terciaria: rgb(0, 37, 85); /* :) */
  --destaque: rgb(245, 172, 0);
  --detalhe:rgb(245, 172, 0);
}

/* borda vermelha em todos os elementos para debug */
/*
* {
  outline: red solid 1px;
}
*/

body {
  margin: 0;
  font-family: 'Krub', sans-serif;
  background-color: rgb(217, 217, 217);
  color:var(--background);
}

a {
  font-family: 'Krub', sans-serif;
}

#icon-addProjeto{
  color: black;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


 .area-add-projetos{
  position: relative;
  height: 155.9px;
  font-size: 12.13px;
  color: rgb(22, 22, 22);
 }

.add-projeto{
  position: absolute;
  left: calc(50% - 113.5px);
  box-shadow: 0px 2.7104475498199463px 2.71px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: rgb(241, 241, 241);
  width: 227px;
  height: 155.9px;

}

.escrita-add-projeto{
  position: absolute;
  top: 102.5px;
  font-size: 1.2em;
  display: flex;
}


.botao-paginacao {
  position: absolute;
  top: 0px;
  left: calc(50% - 140px);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  box-sizing: border-box;
  width: 280px;
  height: 39px;
}

.pagina-1 {
  position: absolute;
  top: 11px;
  left: calc(50% - 33.5px);
  color: black;
  font-family: var(--font-inter);

}
.area-paginacao {
  position: relative;
  height: 39px;
}

#barra-pesquisa {
  width: 50rem;
  margin-inline: auto;
  margin-top: 10rem;
  border-color: rgb(0, 37, 85);
  border-style: solid;
  border-radius: 50rem;
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
  margin-bottom: 30px;
  height: 25px;
}

::placeholder {
  color: var(--primaria);

}

.login-container {
  width: 300px;
  margin: 10em auto;
  padding: 20px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Style for the form elements */
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  box-sizing: border-box;
}

/* Style for the submit button */
.login-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--destaque);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-container input[type="submit"]:hover {
  background-color: var(--detalhe);
}

/* Style for the form labels */
.login-container label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

/* Style for the form title */
.login-container h2 {
  color: var(--primaria);
  text-align: center;
  margin-bottom: 20px;
}
.lupa {
  width: 30px;
  height: 30px;
  margin: 20px;
  margin-bottom: 2px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: white;
  border-color: rgb(0, 0, 0);
  border-style: groove;
  border-radius: 10px;
  transition: all 0.3s ease;
  
  
}
.filtro{
  display: flex;
  align-items: center;
  
}
.Containerpagina{  padding: 10px 20px;
  margin: 30px;
  font-size: 5rem;
  font-weight: bold;
  color: rgb(245, 172, 0);
  background-color: var(--secundaria);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  
  
}
.titulopagina{
  font-size: 30px;
  animation: fadeIn 2s ease-out forwards;
  text-align: center;
}
.textopagina{
  font-size: 17px;
  animation: fadeIn 2s ease-out forwards;
  text-align: center;
}
@media screen and (max-width:470px) {
  .NomeProjetos{
    text-align: center;
  }
}

@media screen and (max-width: 775px) {
  .escrita-add-projeto{
    left: calc(49% - 40px);
  }
}

@media screen and (min-width: 775px) {
  .escrita-add-projeto{
    left: calc(58% - 40px);
  }
}

@media screen and (min-width: 905px) {
  .escrita-add-projeto{
    left: calc(49% - 40px);
  }


}